* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/0101.jpg);
}

h1 {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
    font-family: "標楷體";
}

table {
    width: 100%;

}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #800000; */
    height: 50px;

}

td {
    text-align: center;
    width: 30%;
    font-family: "標楷體";
}

div,pre {
    font-size: 16px;
    color: #ff0000;
    font-family: "標楷體";
}

.div {
    color: #800000;
}

#div01 {
    color: #0000FF;
}

#div02 {
    color: #FF0000;
}

#div03 {
    color: #00FF00;
}

#div04 {
    color: #000000;
}

.div_a {
    /* width: 100%; */
    /* background-color: #00FF00; */
    text-align: right;
}
