*{
    box-sizing: border-box;
}

body{

    background-image: url(../images/0101.jpg);

}
.box1{
    
text-align: center;
    
}
img{
    width: 250px;
    height: 250px;
}

p{
        font-size: 24px;
    color: #0000ff;
    text-align:center;
    font-family: "標楷體";
    font-style: italic;
    font-weight: bold;
}
