* {
    box-sizing: border-box;
}

.header {
    margin: auto;
    width: 1024px;
    height: 65px;
    /* background-color: lightseagreen; */
    border: 1px solid black;
}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightskyblue; */
    margin: auto;
    display: flex;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.container-left {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightsteelblue; */
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.cl-top {
    width: 215px;
    height: calc(100% - 25px);
    /* background-color: lightgrey; */
    border: 1px solid black;
    border-top: 0px;
}

.cl-bottom {
    width: 215px;
    height: 25px;
    /* background-color: lightseagreen; */
    border: 1px solid black;
    border-top: 0px;
}

.container-right {
    width: calc(100% - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: lightpink; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.cr-top {
    width: 100%;
    height: 29px;
    /* background-color: lemonchiffon; */
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}

.cr-bottom {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: lightblue; */
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.title {
    width: 1024px;
    height: 20px;
    /* background-color: lightsalmon; */
    margin: auto;
    border: 1px solid black;
    border-top: 0px;
}